<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- services -->
    <bean id="helloBean" class="com.jf.HelloBean">
<!--        <constructor-arg ref="accountMapper" name="accountMapper"></constructor-arg>-->
    </bean>

    <bean id="helloBean1" class="com.jf.HelloBean">
        <property name="hello" value="test"></property>
    </bean>

    <!-- more bean definitions for services go here -->

</beans>